[submodule "starter-academic"]
	path = starter-academic
	url = https://github.com/LailinXu/starter-academic.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/LailinXu/starter-academic.git
[submodule "themes/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/LailinXu/starter-academic.git
